#
#
#
# checking nets
$NETS{net1}	= '127.0.0.0/29';
$NETS{net2}	= '127.0.0.8/29';

# checking ips
$NETS{oneip1}	= '127.0.0.1';
$NETS{oneip2}	= '127.0.0.2';
$NETS{oneip3}	= '127.0.0.3';
#

$BL{BARRACUDA}{service}                 = 'b.barracudacentral.org';
$BL{BARRACUDA}{code}{'127.0.0.2'}       = 'Listed at barracudacentral.org';

$BL{SPAMHAUS}{service}                  = 'zen.spamhaus.org';
$BL{SPAMHAUS}{code}{'127.0.0.2'}        = 'SBL Spamhaus SBL Data';
$BL{SPAMHAUS}{code}{'127.0.0.3'}        = 'SBL Spamhaus SBL CSS Data';
$BL{SPAMHAUS}{code}{'127.0.0.4'}        = 'XBL CBL Data';
$BL{SPAMHAUS}{code}{'127.0.0.9'}        = 'SBL Spamhaus DROP/EDROP Data (in addition to 127.0.0.2, since 01-Jun-2016)';
$BL{SPAMHAUS}{code}{'127.0.0.10'}       = 'PBL ISP Maintained';
$BL{SPAMHAUS}{code}{'127.0.0.11'}       = 'PBL Spamhaus Maintained';

$BL{SORBS}{service}                     = 'spam.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.2'}           = 'Listed at http.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.3'}           = 'Listed at socks.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.4'}           = 'Listed at misc.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.5'}           = 'Listed at smtp.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.6'}           = 'Listed at spam.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.6'}           = 'Listed at spam.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.6'}           = 'Listed at spam.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.6'}           = 'Listed at spam.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.6'}           = 'Listed at spam.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.7'}           = 'Listed at web.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.8'}           = 'Listed at block.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.9'}           = 'Listed at zombie.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.10'}          = 'Listed at dul.dnsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.11'}          = 'Listed at badconf.rhsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.12'}          = 'Listed at nomail.rhsbl.sorbs.net';
$BL{SORBS}{code}{'127.0.0.14'}          = 'Listed at noserver.dnsbl.sorbs.net';

$BL{SPFBL}{service}                     = 'dnsbl.spfbl.net';
$BL{SPFBL}{code}{'127.0.0.2'}           = 'Blacklisted due to bad reputation and confirmed by anonymous complaints';
$BL{SPFBL}{code}{'127.0.0.3'}           = 'Flagged due difficulty to identify the responsible for abuses or MTA not in compliance with RFC 5321';
$BL{SPFBL}{code}{'127.0.0.4'}           = 'Could not identify an email service running at this address, it’s a NAT router, or because it’s residential connection';
$BL{SPFBL}{code}{'127.0.0.5'}           = 'Unreliable abuse treatment team for the same IP range';

$BL{ZAPBS}{service}                     = 'dnsbl.zapbl.net';
$BL{ZAPBS}{code}{'127.0.0.2'}           = 'Listed at zapbl.net';

$BL{SPAMRATS}{service}                  = 'all.spamrats.com';
$BL{SPAMRATS}{code}{'127.0.0.36'}       = 'Listed at Spamrats RATS-Dyna';
$BL{SPAMRATS}{code}{'127.0.0.37'}       = 'Listed at Spamrats RATS-NoPtr';
$BL{SPAMRATS}{code}{'127.0.0.38'}       = 'Listed at Spamrats RATS-Spam';
