#
#
#
# checking nets
$NETS{net1}	= '10.0.0.0/24';
$NETS{net2}	= '10.1.0.0/29';
$NETS{net3}	= '10.100.0.0/16';
# checking ips
$NETS{oneip1}	= '10.200.0.1';
$NETS{oneip2}	= '10.200.0.10';
$NETS{oneip3}	= '10.200.0.100';
#
$DNSBL{BARRACUDA}{service} = 'b.barracudacentral.org';
$DNSBL{BARRACUDA}{code}{'127.0.0.2'} = 'Listed at barracudacentral.org';

$DNSBL{SPAMHAUS}{service} = 'zen.spamhaus.org';
$DNSBL{SPAMHAUS}{code}{'127.0.0.2'} = 'SBL Spamhaus SBL Data';
$DNSBL{SPAMHAUS}{code}{'127.0.0.3'} = 'SBL Spamhaus SBL CSS Data';
$DNSBL{SPAMHAUS}{code}{'127.0.0.4'} = 'XBL CBL Data';
$DNSBL{SPAMHAUS}{code}{'127.0.0.9'} = 'SBL Spamhaus DROP/EDROP Data (in addition to 127.0.0.2, since 01-Jun-2016)';
$DNSBL{SPAMHAUS}{code}{'127.0.0.10'} = 'PBL ISP Maintained';
$DNSBL{SPAMHAUS}{code}{'127.0.0.11'} = 'PBL Spamhaus Maintained';

$DNSBL{SORBS}{service} = 'spam.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.2'} = 'Listed at http.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.3'} = 'Listed at socks.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.4'} = 'Listed at misc.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.5'} = 'Listed at smtp.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.6'} = 'Listed at spam.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.6'} = 'Listed at spam.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.6'} = 'Listed at spam.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.6'} = 'Listed at spam.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.6'} = 'Listed at spam.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.7'} = 'Listed at web.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.8'} = 'Listed at block.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.9'} = 'Listed at zombie.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.10'} = 'Listed at dul.dnsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.11'} = 'Listed at badconf.rhsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.12'} = 'Listed at nomail.rhsbl.sorbs.net';
$DNSBL{SORBS}{code}{'127.0.0.14'} = 'Listed at noserver.dnsbl.sorbs.net';

$DNSBL{SPFBL}{service} = 'dnsbl.spfbl.net';
$DNSBL{SPFBL}{code}{'127.0.0.2'} = 'Blacklisted due to bad reputation and confirmed by anonymous complaints';
$DNSBL{SPFBL}{code}{'127.0.0.3'} = 'Flagged due difficulty to identify the responsible for abuses or MTA not in compliance with RFC 5321';
$DNSBL{SPFBL}{code}{'127.0.0.4'} = 'Could not identify an email service running at this address, it’s a NAT router, or because it’s residential connection';
$DNSBL{SPFBL}{code}{'127.0.0.5'} = 'Unreliable abuse treatment team for the same IP range';

$DNSBL{ZAPBS}{service} = 'dnsbl.zapbl.net';
$DNSBL{ZAPBS}{code}{'127.0.0.2'} = 'Listed at zapbl.net';

$DNSBL{SPAMRATS}{service} = 'all.spamrats.com';
$DNSBL{SPAMRATS}{code}{'127.0.0.36'} =  'Listed at Spamrats RATS-Dyna';
$DNSBL{SPAMRATS}{code}{'127.0.0.37'} =  'Listed at Spamrats RATS-NoPtr';
$DNSBL{SPAMRATS}{code}{'127.0.0.38'} =  'Listed at Spamrats RATS-Spam';
